{% extends "base.jinja2" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% if song is not none %}
        <div class="container d-flex justify-content-center align-items-center vh-100">
            <div class="row justify-content-center w-100">
                <h1 class="text-center">{{ playlist_name }}</h1>
                <!-- Iterate through the playlist songs -->
                <div class="col-md-6 mb-4 d-flex justify-content-center">
                    <div class="card shadow" style="width: 50%; height: 30vh;">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 class="card-title text-center">{{ song.name }}</h5>
                            <!-- Media controls -->
                            <div class="btn-group my-3 w-100 d-flex justify-content-center" role="group" aria-label="Media controls">
                                <a href='/previous' class="btn btn-secondary">
                                    <i class="bi-skip-backward"></i>
                                </a>
                                <a href='/play' class="btn btn-secondary mx-2">
                                    <i class="bi-play-fill"></i>
                                </a>
                                <a href='/next' class="btn btn-secondary">
                                    <i class="bi-skip-forward"></i>
                                </a>
                                <a href='/shuffle' class="btn btn-secondary mx-2">
                                    <i class="bi-shuffle"></i>
                                </a>
                            </div>
                            <!-- Rating Scale -->
                            <div class="rating text-center">
                                <label>Rate this song:</label>
                                <div class="d-flex justify-content-center">
                                    <input type="radio" name="rating-{{ song.id }}" value="1"> 1 &nbsp;
                                    <input type="radio" name="rating-{{ song.id }}" value="2"> 2 &nbsp;
                                    <input type="radio" name="rating-{{ song.id }}" value="3"> 3 &nbsp;
                                    <input type="radio" name="rating-{{ song.id }}" value="4"> 4 &nbsp;
                                    <input type="radio" name="rating-{{ song.id }}" value="5"> 5
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Import a Playlist</h5>
                            <p class="card-text">Paste a Spotify playlist link or upload a playlist file to get started.</p>
                            
                            <!-- Form for importing playlist -->
                            <form method="POST" action="/import_playlist" enctype="multipart/form-data">
                                <!-- Input for Spotify link -->
                                <div class="mb-3">
                                    <label for="playlistId" class="form-label">Spotify Playlist Id</label>
                                    <input type="text" class="form-control" id="playlistId" name="playlistId" placeholder="playlist_id" required>
                                </div>

                                <!--div class="text-center my-3">OR</div -->

                                <!-- Input for uploading a playlist file (optional) -->
                                <!--div class="mb-3">
                                    <label for="playlistFile" class="form-label">Upload Playlist File (optional)</label>
                                    <input type="file" class="form-control" id="playlistFile" name="playlistFile" accept=".json, .txt, .csv">
                                </div -->

                                <!-- Submit Button -->
                                <button type="submit" class="btn btn-primary w-100">Import Playlist</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}